
.formContainer::-webkit-scrollbar {
    display: none;
  }

.formContainer h1 {
    margin-bottom: 70px;
    text-align: center;
}

.formContainer form {
    padding: 15px 15px 15px 15px;
    border-radius: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.formContainer h2 {
    text-transform: capitalize;
    margin-bottom: 10px;
}


input,
textarea,
label {
    width: 100%;
    border: none;
    padding: 8px 8px;
    border-radius: 5px;
    margin: 5px 0px;
    background-color: white;
}


input[type='file'] {
    display: none;;
}

label {
    display: inline-block;
    background-color: rgba(204, 94, 94, 0.192);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

label img {
    width: 30px;
    height: 30px;
}

textarea {
    resize: none;
    min-height: 130px;
}


.practicalContainer,
.educationContainer {
    margin-top: 30px;
}


.formBtn,
.infoButtons {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
    margin-top: 15px;
}

.formBtn > * {
    height: 40px;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 1em;
}

.formBtn :first-child {
    background-color: rgba(13, 189, 13, 0.836);
}

.formBtn :nth-child(2) {
    background-color: yellowgreen;
}

.formBtn :last-child {
    background-color: rgba(243, 23, 23, 0.918);
}


.infoButtons > * {
    height: 35px;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 1em;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.849);
}

